<app-layout></app-layout>

<div class="container">
  <h5>LISTA DE COMPRADORES:</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comprador of compradores;">
        <th scope="row">{{comprador.key}}</th>
        <td>{{comprador.nome}}</td>
        <td>{{comprador.cpf}}</td>
        <td><button class="btn btn-warning" (click)="carregar(comprador.key)">Editar</button> &nbsp;
          <button class="btn btn-danger" (click)="excluir(comprador.key)">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>
