<h5>LISTA DE COMPRADORES:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jorge</td>
      <td>829.382.939-02</td>
      <td><button class='btn btn-warning'>Editar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Cristiano</td>
      <td>342.753.213-87</td>
      <td><button class='btn btn-warning'>Editar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Maria</td>
      <td>112.621.002-96</td>
      <td><button class='btn btn-warning'>Editar</button></td>
    </tr>
  </tbody>
</table>
