<table class="table">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Apelido</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Matui</td>
      <td>Doblo</td>
      <td><button class='btn btn-warning'>Editar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Migui</td>
      <td>Formiga</td>
      <td><button class='btn btn-warning'>Editar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Murilui</td>
      <td>Falta muito</td>
      <td><button class='btn btn-warning'>Editar</button></td>
    </tr>
  </tbody>
</table>
