<div class="container d-flex flex-column">
  <div class="header">
    <h5 id="logo">BLAZE TÊNIS</h5>
  </div>

      <h1>Faça Seu Login</h1>
      <div class="row">
        <div class="col">
          <label for="inputPassword6" class="col-form-label">E-Mail</label>
        </div>
        <div class="col">
          <input type="text" id="usuario" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col">
          <span id="passwordHelpInline" class="form-text">
          </span>
        </div>
        <div class="col">
          <label for="inputPassword6" class="col-form-label">Senha</label>
        </div>
        <div class="col">
          <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" >
        </div>

            <button type="button" id="btnLogin" class="btn btn-primary btn-sm" (click)="login()">Login</button>
      </div>
  </div>


