<app-layout></app-layout>

  <div class="container">
    <div *ngIf="showSuccessMessages && !showErrorMessages" id="alert-div" class="alert alert-success" role="alert">
    Produto cadastrado com sucesso!
    </div>

    <div *ngIf="showErrorMessages && !showSuccessMessages" id="alert-div" class="alert alert-danger" role="alert">
    Erro ao salvar o produto!
    </div>
    <h5>CADASTRO DE PRODUTOS:</h5>

    <form [formGroup]="formGroup">

    <div class="mb-3">
    <label for="nome">Nome: </label>
    <input type="text" class="form-control" id="nome" placeholder="Digite o nome do Produto"
    formControlName="nome">
    <div class="invalid-feedback"
      [style.display]="formGroup.controls.nome.invalid  && formGroup.controls.nome.touched ? 'block' : 'none'">Digite o nome corretamente:
    </div>
    </div>

    <div class="mb-3">
    <label for="preco">Preço: </label>
    <input type="text" class="form-control" id="preco" placeholder="0.00"
    formControlName="preco">
    </div>

    <div class="mb-3">
      <label for="descricao">Descrição: </label>
      <input type="text" class="form-control" id="descricao" placeholder="Descreva um pouco mais sobre seu produto"
      formControlName="descricao">
    </div>

    <div class="mb-3">
    <label for="imagem" class="fomr-label">Imagem: </label>
    <input type="text" class="form-control" id="imagem" placeholder="Url da imagem"
    formControlName="imagem">
    </div>

    <div class="mb-3">
    <label for="upload" class="fomr-label">Upload: </label>
    <input type="file" class="form-control" id="upload" (change)="selectFile($event)">
    </div>

    <button class="btn btn-primary" (click)="salvar()">Salvar</button>

    </form>
  </div>
