<div *ngIf="showSuccessMessages" class="alert alert-success" role="alert">
  Produto cadastrado com sucesso!
  </div>

<div *ngIf="showErrorMessages" class="alert alert-danger" role="alert">
  Erro ao salvar o produto!
  </div>

  <h5>CADASTRO DE PRODUTOS:</h5>

<form [formGroup]="formGroup">

<div class="mb-3">
  <label for="nome">Nome: </label>
  <input type="text" class="form-control" id="nome" placeholder="Digite o nome do Produto"
  formControlName="nome">
  <div class="invalid-feedback"
    [style.display]="formGroup.controls.nome.invalid  && formGroup.controls.nome.touched ? 'block' : 'none'">Digite o nome corretamente:
  </div>
</div>

<div class="mb-3">
  <label for="preco">Preço: </label>
  <input type="text" class="form-control" id="preco" placeholder="0.00"
  formControlName="preco">
</div>

<button (click)="salvar()" class="btn btn-primary">Salvar</button>

</form>
