<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid bg-fffff">
    <a class="navbar-brand" id="logo" href="#" [routerLink]="'/home'">BLAZE TÊNIS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produto
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="'/produto/'">Cadastro</a></li>
            <li><a class="dropdown-item" [routerLink]="'/lista-produto/'">Lista</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" id="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Compradores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="'/usuario/'">Cadastro</a></li>
            <li><a class="dropdown-item" [routerLink]="'/lista-usuario/'">Lista de Compradores</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" id="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vendedores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="'/vendedor/'">Cadastro</a></li>
            <li><a class="dropdown-item" [routerLink]="'/lista-vendedores/'">Lista de Vendedores</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" id="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuário
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="logout()">Deslogar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
