<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<app-layout></app-layout>
<body>
    <div class="container">
      <div *ngIf="produto">
        <div class="product">
            <img src="{{produto.imagem}}">
            <div class="product-details">
                      <h2>{{produto.nome}}</h2>
                      <div class="ratings">
                        <div class="stars">
                            ★★★★★
                        </div>
                        <div id= review class="reviews">(129)</div>
                      </div>
                      <p class="price">R${{ produto.preco}}</p>
                      <p>{{ produto.descricao }}</p>
                      <div class="size-selection">
                        <label for="size">Tamanho:</label>
                        <div class="size-options">
                            <input type="radio" id="size-38" name="size" value="38">
                            <label for="size-38">38</label>

                            <input type="radio" id="size-39" name="size" value="39">
                            <label for="size-39">39</label>

                            <input type="radio" id="size-40" name="size" value="40">
                            <label for="size-40">40</label>

                            <input type="radio" id="size-41" name="size" value="41">
                            <label for="size-41">41</label>

                            <input type="radio" id="size-42" name="size" value="42">
                            <label for="size-42">42</label>

                            <input type="radio" id="size-43" name="size" value="43">
                            <label for="size-43">43</label>

                            <input type="radio" id="size-44" name="size" value="44">
                            <label for="size-44">44</label>
                        </div>
                    </div>
                      <a class="buy-button">COMPRAR</a>
                      <div class="free-shipping">FRETE GRÁTIS</div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>
