<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<app-layout></app-layout>
<body>
    <div class="container">
      <div *ngIf="produto">
        <div class="product">
            <img src="{{produto.imagem}}">
            <div class="product-details">
                      <h2>{{produto.nome}}</h2>
                      <div class="ratings">
                        <div class="stars">
                            ★★★★★
                        </div>
                        <div class="reviews">(12)</div>
                      </div>
                      <p class="price">R$:{{ produto.preco}}</p>
                      <p>{{ produto.descricao }}</p>
                      <a href="#" class="buy-button">COMPRAR</a>
                      <div class="free-shipping">FRETE GRÁTIS</div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>
