<app-layout></app-layout>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" id="imgItem" data-bs-interval="10000">
      <img src="{{this.tenis01}}" class="d-block w-80 mx-auto" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h5>Nike Air Max Correlate</h5>
        <p>Blaze Tênis</p>
      </div>
    </div>
    <div class="carousel-item" id="imgItem" data-bs-interval="2000">
      <img src="{{this.tenis02}}" class="d-block w-80 mx-auto " alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h5>Nike Air Force 1 '07</h5>
        <p>Blaze Tênis</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{this.tenis03}}" id="imgItem" class="d-block w-80 mx-auto" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h5>Nike Dunk Low Retro

        </h5>
        <p>Blaze Tênis</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<div class="container">
<hr>
<br>
<h1>Veja qual modelo combina mais com voçê!</h1>
<br>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{{this.dunk}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><b>Estilo lendário, desempenho imbatível.</b><br>A linha Nike Dunk transcende as quadras, combinando herança do basquete com design urbano e cores vibrantes.</p>
        </div>
        <div class="card-footer">
          <a href="https://en.wikipedia.org/wiki/Nike_Dunk" target="_blank" class="btn btn-primary">Mais Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{{this.airforce}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><b>O ícone que nunca sai de moda.</b><br>Desde 1982, o Nike Air Force 1 pisa firme como um símbolo de estilo e cultura urbana.</p>
        </div>
        <div class="card-footer">
          <a href="https://en.wikipedia.org/wiki/Nike_Air_Force" target="_blank" class="btn btn-primary">Mais Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{{this.airmax}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><b>Eleve seu estilo e conforto com a linha Air Max.</b><br>Desde 1987, a Nike redefine o que significa amortecimento com a tecnologia Air visível. Cada passo é leve e macio, com designs icônicos que transcendem o tempo.</p>
        </div>
        <div class="card-footer">
          <a href="https://en.wikipedia.org/wiki/Nike_Air_Max" target="_blank" class="btn btn-primary">Mais Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{{this.airjordan}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><b>Mais que um tênis, um ícone.</b><br>O Air Jordan 1 transcendeu as quadras de basquete e se tornou um símbolo de estilo e performance. Criado para Michael Jordan em 1985, o legado do Air Jordan 1 continua vivo até hoje.</p>
        </div>
        <div class="card-footer">
          <a href="https://en.wikipedia.org/wiki/Air_Jordan" target="_blank" class="btn btn-primary">Mais Detalhes</a>
        </div>
      </div>
    </div>
</div>
<br>
<hr>
<h1> Confira alguns dos nossos produtos no estoque:</h1>
<br>

<div class="row">
  <div *ngFor="let produto of produtos;"  class="col-sm-4 mb-4">
      <div class="card h-100">
          <img src="{{produto.imagem}}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">{{produto.nome}}</h5>
              <p class="card-text">{{produto.descricao}}</p>
              <p class="card-text">R${{produto.preco}}</p>
              <a href="#" class="btn btn-primary">Ver mais</a>
          </div>
      </div>
</div>

