<div class="container border-0">
  <div style="margin-left: 70px;" class="row justify-content-center">
    <h3 class="row justify-content-flexstart" id="logo">BLAZE TÊNIS</h3>
      <div class="col-md-6">
          <div class="card border-0">
              <div class="card-header-no-bg">
                <h4 class="card-title">Faça seu Cadastro:</h4>
              </div>
              <div class="card-body">
                  <form action="#" [formGroup]="registerForm">
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example1" class="form-control" name="email" formControlName="email"/>
                      <label class="form-label" for="form2Example1">Email</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example2" class="form-control" name="password" formControlName="password"/>
                      <label class="form-label" for="form2Example2">Senha</label>
                    </div>
                    <div class="col" style="text-align: right;">
                      <a href="/login">Tem uma conta?</a>
                    </div>
                    <br>
                      <button type="button" class="btn btn-primary btn-block mb-4" (click)="register()">Cadastrar</button><br><br>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
